/libpaleoinsolation.a
*.dat
*.mod
*.f90.o
*.F90.o
*.exe
*.blend
*.blend1
*.odt
/out.bin
/out
/dat
/snvec/
/clonesnvec
/.Rhistory
/imgs/*.png
/imgs/*.pdf
/imgs/*.gif
/imgs/*.mp4
/imgs/*.svg
/La04/*
/paper
/_makefile_lukas
/paleoinsolation.org
Manifest.toml
Project.toml
